{% extends 'base.html' %}

{% macro display(posts) %}

{% if posts  %}
<div class="container">
  {% for post in posts%}
  <div>
    <span></span>
    
    <h3>
      <small>
      Posted by:
    </small>
      
        
        {{post.get_author(post.author_id)}}
    </h3>
    <p>
      Category:
    <span>
      {{post.category}}
    </span>
    </p>
   <p>
     {{post.content}}
   </p>
   <p>
     <button>
      <span>Upvote</span>
     </button>
     
     <span> {{post.votes}} votes </span>
     <span>Downvote</span>
     <div>
     
       {% if post.get_comments(post._id) %}
       <p class="text-decoration-underline" >
        Comments:
      </p>
       
          {% for comment in post.get_comments(post._id) %}
          <p> 
            {{comment.content}}
          </p>
         
          {%endfor%}
         
        {% else%}

        <p>
          No comments
        </p>
        {% endif %}
        
   </div>
     <p>
       <a href="{{url_for('app_bp.post_comment', post=post._id)}}">Comment</a>
     </p>
   </p>
  </div>
  {%endfor %}
</div>
{%else%}
<div>
  <p>
    There Are No Pitches
  </p>
</div>
{% endif %}

  
{% endmacro %}