{% extends 'base.html' %}

{% macro display(posts) %}

{% if posts  %}
<div class="container">
  {% for post in posts%}
  <div>
    <span></span>
    
    <h3>
      <small>
      Posted by:
    </small>
      
        
        {{post.get_author(post.author_id)}}
    </h3>
    <p>
      at: {{post.the_date}}
    </p>
    <p>
      Category:
    <span>
  
        {{post.category}}
    
      
    </span>
    </p>
   <p>
     {{post.content}}
   </p>
   <p>
    <span> {{post.votes}} votes </span>
     
    
     <div class="posts">
     
       {% if post.get_comments(post._id) %}
       <h6>Comments</h6>
        <div class="comment" >
          {% for comment in post.get_comments(post._id) %}

          <div class="ms-5 border-bottom">
          <p class="commentor" style="color:blue">
            <i class="fa fa-clock"></i> {{comment.the_date}}
              <br>
            @{{comment.get_author(comment.author)}}  says:
          </p>
          <p class="text-inf"> 
            {{comment.content}}
          </p>
         
          </div>
        
         
          {%endfor%}
         
        {% else%}

        <p>
          No comments
        </p>
        {% endif %}
        </div>
        
   </div>
     <p>
       <a class="btn border-info" href="{{url_for('app_bp.post_comment', post=post._id)}}">  <i class="fa fa-plus"></i> Add a comment</a>
     </p>
   </p>
 
  <hr>
  {%endfor %}
</div>
</div>
{%else%}
<div>
  <p>
    There Are No Pitches
  </p>
</div>
{% endif %}

  
{% endmacro %}