{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtform%}
{% import 'macros.html' as macros%}
{% block nav %}

  
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">PitchnVote</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{{url_for('app_bp.pitch')}}">Pitch</a>
        <a class="nav-link" href="{{url_for('app_bp.logout')}}">Logout</a>
        
      </div>
    </div>
  </div>
</nav>

{% endblock %}


{% block main %}
<div id="sub" class="sub m-auto border-bottom-success w-50">
  <h3 class="text-center">Make a Pitch</h3>
{{wtform.quick_form(form)}}

</div>

{% endblock %}